#a{
    background-color:#FE657D;
    height:50px;
    width:250px;
}
#b{
    background-color:#FCB2A9;
    height:50px;
    width:250px;
}
#c{
    background-color:#E3E3DB;
    height:50px;
    width:250px;
}
#d{
    background-color:#94E4C9;
    height:50px;
    width:250px;
}
#e{
    background-color:#509B70;
    height:50px;
    width:250px;
}
#f{
    background-color:red;
    height:50px;
    width:250px;
}
#g{
    background-color:blue;
    height:50px;
    width:250px;
}
#h{
    background-color:purple;
    height:50px;
    width:250px;
}
#i{
    background-color:yellow;
    height:50px;
    width:250px;
}
#j{
    background-color:orange;
    height:50px;
    width:250px;
}
